<img class="pokeapi" src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png">

<!-- <div class="pokelist" *ngIf="list" >
    <span (click)="pokemonDetail(list)">Nombre :{{ list.name }}</span>
</div> -->

<!-- <div class="pokelist" *ngFor="let pokemon of list" >
    <span (click)="pokemonDetail(pokemon)">Nombre :{{ pokemon.name }}</span>
    
</div>  -->

<!-- <h1>prueba</h1>
<div class="pokelist" *ngIf="list"> 
    <ul >
        <li (click)="pokemonDetail(list)" >
            {{ list.name }}
        </li>
    </ul>
</div> -->

<article *ngFor="let pokemon of detail">
    <p>Nombre :{{ pokemon.name }}</p>

</article>

<div class="row">
    <!-- COL IZQ -->
    <div class="col">
        <p>Listado de pokemons:</p>
        <div *ngFor="let pokemon of list" class="pokemon">
            <span (click)="pokemonDetail(pokemon)">{{ pokemon.name }}</span>
        </div>
    </div>


    <!-- COL DECHA -->
    <div class="col">
        <p>Detalles pokemon:</p>
        <img src="{{ imagePokemon }}" alt="">
        <p>Nombre: {{ namePokemon }}</p>
        <p>Peso: {{ weightPokemon }}KG</p>
        <p>Altura: {{ heightPokemon }}m</p>
    </div>
