<img class="pokeapi" src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png">


<article *ngFor="let pokemon of detail">
    <p>Nombre :{{ pokemon.name }}</p>

</article>

<div class="row">
    <!-- COL IZQ -->
    <div class="col">
        <p>Listado de pokemons:</p>
        <div *ngFor="let pokemon of list" class="pokemon">
            <span (click)="pokemonDetail(pokemon)" class="col__name">{{ pokemon.name }}</span>
        </div>
    </div>


    <!-- COL DECHA -->
    <div class="col">
        <p>Detalles pokemon:</p>
        <img src="{{ imagePokemon }}" alt="">
        <p>Nombre: {{ namePokemon }}</p>
        <p>Peso: {{ weightPokemon }}KG</p>
        <p>Altura: {{ heightPokemon }}m</p>
    </div>

</div>

